<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5433/onduty</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <mapping package="com.project.yasar.onduty.domain"/>
        <mapping class="com.project.yasar.onduty.domain.User"/>
        <mapping class="com.project.yasar.onduty.domain.Credential"/>
        <mapping class="com.project.yasar.onduty.domain.Personal"/>
        <mapping class="com.project.yasar.onduty.domain.Group"/>
        <mapping class="com.project.yasar.onduty.domain.Role"/>
        <mapping class="com.project.yasar.onduty.domain.TaskMessage"/>
        <mapping class="com.project.yasar.onduty.domain.Right"/>
        <mapping class="com.project.yasar.onduty.domain.Department"/>
        <mapping class="com.project.yasar.onduty.domain.UserType"/>
        <mapping class="com.project.yasar.onduty.domain.Conversation"/>
        <mapping class="com.project.yasar.onduty.domain.Message"/>
        <mapping class="com.project.yasar.onduty.domain.MessageInformation"/>
        <mapping class="com.project.yasar.onduty.domain.Project"/>
        <mapping class="com.project.yasar.onduty.domain.MessageState"/>
        <mapping class="com.project.yasar.onduty.domain.ProjectState"/>
        <mapping class="com.project.yasar.onduty.domain.State"/>
        <mapping class="com.project.yasar.onduty.domain.StateType"/>
        <mapping class="com.project.yasar.onduty.domain.TaskPriority"/>
        <mapping class="com.project.yasar.onduty.domain.TaskStateType"/>
        <mapping class="com.project.yasar.onduty.domain.Task"/>

    </session-factory>
</hibernate-configuration>